<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933418996723-oip5sdis4k1ucqj3g4u096nns7kmrbbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933418996723-oip5sdis4k1ucqj3g4u096nns7kmrbbs</string>
	<key>API_KEY</key>
	<string>AIzaSyDN1sgHbwAqLG3h_189zQ25u8orKR-han8</string>
	<key>GCM_SENDER_ID</key>
	<string>933418996723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snake</string>
	<key>PROJECT_ID</key>
	<string>snake-d0598</string>
	<key>STORAGE_BUCKET</key>
	<string>snake-d0598.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933418996723:ios:c457e0c82b3bb219637886</string>
</dict>
</plist>